<div class="container">

    <form method="POST" action="/search/author">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Filtre de Recherche">
        </div>
        <div class="mb-3">


          <select  class="form-select" name="author">
            {# <option value="" disabled selected>Choisir un auteur</option> #}
            <% for (let quote of quotes){%>
       
      
            <option name="<%=quote.author%>" value="<%=quote.author%>"><%=quote.author%></option>
          
            <%}%> 
          </select>

        </div>
    </div>
      
        <button type="submit" class="btn btn-primary mb-4">Rechercher</button>
      </form>

  
    
</div>