<% layout('layouts/boilerplate') %>

<div class="container">

    <form method="GET" action="/quotes/author">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Rechercher une citation" name="coucou">
        </div>
        <div class="mb-3">


          <select  class="form-select" name="author"> #}
            
            <option value="" disabled selected>Choisir un auteur</option>
            <% for (let s of auth){%>
       
      
            <option name="<%=s%>" value="<%=s%>"><%=s%></option>
          
            <%}%> 
          </select>

        </div>
    </div>
      
        <button type="submit" class="btn btn-primary mb-4">Rechercher</button>
      </form>

  
    
</div>