<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciations index</title>
</head>
<body>

    <h1>Liste des citations</h1>

    <ul>
        <% for (let quote of quotes){%>
            <li><%= quote.description%></li>
            <li><%= quote.author%></li>
            <li><%= quote.book%></li>
            <li><%= quote.year%></li>
            <%}%> 
    </ul>


</body>
</html>